<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <h1 class="header">Resolutions</h1>
    <h2 class="sub-header">Regrets in Progress</h2>
    </header>
    {{{body}}}
  </body>
</html>
