
html{
  height: 100vh;
  width: 100vw;
  margin: 0;
}
body{
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
  text-shadow: 0 0 15px white;
}

header{
  background-color: black;
  color: white;
  text-align: center;
}
.container{
  background-image: url("https://ak6.picdn.net/shutterstock/videos/1594486/thumb/1.jpg?i10c=img.resize(height:160)");
}
.header{
  margin: 0;
  font-size: 3rem;
}

.sub-header{
font-size: 2rem;
margin: 0;
padding: 1rem;
}

.gravestone{
  background-image: url('./headstone.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30vw;
  padding: 2vw;
  margin: 2vw;
}

.nobullets{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.topic{
  font-size: 4rem;
}
.add-new{
  margin-left: 10vw;
}
.gif-vote-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em;
}
.votes{
  margin: 1em;
  font-size: 1.5em;
  width: 50vw;
  flex-wrap: wrap;
}
.title-votes{
  width: 20vw;
  display: flex;
  border: 2px solid black;
  align-items: center;
  flex-direction: column;
}
